body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  background-image: url("../image/תמונת\ רקע\ עננים.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
}
ul {
  margin-top: 0;
  position: sticky;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  list-style: none;
  text-decoration: none;
  height: 120px;
  backdrop-filter: blur(10px);
  border-color: rgb(252, 254, 251, 0.9);
  border-radius: 20px;
  background: rgb(252, 254, 251, 0.4);
  font-style: italic;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

li,
a {
  text-decoration: none;
  color: rgb(56, 92, 87);
}
li:hover,
a:hover {
  color: rgb(136, 130, 189);
  border-color: rgba(109, 150, 247, 0.4);
  border-radius: 10px;
}
#tip {
  height: 100%;
  text-align: center;
  width: 500px;
  backdrop-filter: blur(10px);
  border-color: rgb(252, 254, 251, 0.9);
  border-radius: 20px;
  background: rgb(252, 254, 251, 0.4);
  font-style: italic;
  text-align: center;
  margin: 10px;
  padding: 50px;
  text-align: center;
  direction: rtl;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#h3 {
  text-decoration: underline;
}
@media (max-width: 400px) and (max-height: 823px) {
  body {
    font-size: 24px;
  }

  #tip {
    width: 90%;
    margin: 5px auto;
    padding: 10px;
  }

  main {
    padding: 5px;
  }
  nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  ul {
    height: 60px;
    margin-top: 5px;
  }
  li,
  a,
  #profil {
    font-size: 14px;
    color: rgb(0, 81, 255);
  }
}
