body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  background-image: url("../image/תמונת\ רקע\ עננים.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  margin-top: 0;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  list-style: none;
  text-decoration: none;
  height: 120px;
  backdrop-filter: blur(10px);
  border-color: rgb(252, 254, 251, 0.9);
  border-radius: 20px;
  background: rgb(252, 254, 251, 0.4);
  font-style: italic;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

li,
a {
  text-decoration: none;
  color: rgb(56, 92, 87);
}

li:hover,
a:hover {
  color: rgb(136, 130, 189);
  border-color: rgba(109, 150, 247, 0.4);
  border-radius: 10px;
}

#tip {
  height: 100%;
  text-align: center;
  width: 500px;
  backdrop-filter: blur(10px);
  border-color: rgb(252, 254, 251, 0.9);
  border-radius: 20px;
  background: rgb(252, 254, 251, 0.4);
  font-style: italic;
  text-align: center;
  margin: 10px;
  padding: 25px;
  direction: rtl;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

button {
  font-size: large;
  height: 45px;
  width: 200px;
  background-color: rgba(154, 203, 248, 0.4);
  border: rgb(252, 254, 251, 0.4);
  border-radius: 10px;
  cursor: grab;
}

button:hover {
  border-color: 3px solid rgb(78, 247, 72);
  background-color: rgb(208, 253, 141);
  font-size: 19px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#h3 {
  text-decoration: underline;
}

#Q {
  height: 300px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-color: rgb(252, 254, 251, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.gameM {
  display: none;
}

#A {
  height: 200px;
  width: 800px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-color: rgb(252, 254, 251, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#A1,
#A2,
#A3,
#A4 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140px;
  width: 170px;
  font-size: 55px;
  background-color: rgb(223, 235, 245);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-color: rgba(45, 136, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#A1:hover,
#A2:hover,
#A3:hover,
#A4:hover {
  background-color: rgb(246, 250, 186);
  box-shadow: 5px 5px 5px rgba(236, 250, 106, 0.3);
  color: rgb(63, 66, 70);
  cursor: help;
}

#A:has(div:hover) > div:not(:hover) {
  opacity: 0.3;
  background-color: rgb(236, 236, 221);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: help;
}

#answer {
  background-color: rgb(244, 254, 229);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: aqua;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#answer {
  background-color: rgb(187, 250, 94);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
  font-size: larger;
  display: none;
}

#false {
  background-color: rgb(250, 130, 94);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
  font-size: larger;
  display: none;
}

@media (max-width: 400px) and (max-height: 823px) {
  body {
    font-size: 16px; /* שינוי גודל הפונט הכללי */
  }

  #Q {
    height: 150px; /* הקטנת גובה השאלה */
    width: 350px; /* הקטנת רוחב השאלה */
    font-size: 50px; /* שינוי גודל הפונט של השאלה */
  }

  #A {
    height: auto; /* שינוי גובה הקופסה של התשובות */
    width: 350px; /* הקטנת רוחב הקופסה של התשובות */
    margin-top: 20px;
    flex-direction: column; /* תצוגה אנכית לתשובות */
  }

  #A1,
  #A2,
  #A3,
  #A4 {
    height: 50px; /* הקטנת גובה התשובות */
    width: 80%; /* שימוש ברוחב של 80% מהרוחב הכללי */
    font-size: 24px; /* שינוי גודל הפונט של התשובות */
    margin: 5px 0; /* מרווח בין התשובות */
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav,
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; /* הקטנת גובה התפריט */
    width: 400px;
    margin: 0px;

  }
  ul {
    height: 60px; /* הקטנת גובה התפריט */
    width: 340px;
    margin-top: 5px;

    
  }

  li,
  a {
    justify-content: space-evenly;
    color: rgb(16, 57, 238);

    font-size: 14px; /* הקטנת גודל הפונט של התפריט */
  }

  #tip {
    width: 90%;
    margin: 5px auto;
    padding: 10px;
  }

  button {
    font-size: medium;
    height: 35px;
    width: 120px;
  }

  main {
    padding: 5px;
  }
  #answer {
    background-color: rgb(187, 250, 94);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;
    display: none;
  }

  #false {
    background-color: rgb(250, 130, 94);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;
    display: none;
  }
  #nickodM {
    display: none;
    font-size: 15px;
  }
}
