body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  background-image: url("../image/תמונת\ רקע\ עננים.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
ul {
  margin-top: 0;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  list-style: none;
  text-decoration: none;
  height: 120px;
  backdrop-filter: blur(10px);
  border-color: rgb(252, 254, 251, 0.9);
  border-radius: 20px;
  background: rgb(252, 254, 251, 0.4);
  font-style: italic;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

li,
a {
  text-decoration: none;
  color: rgb(56, 92, 87);
}
li:hover,
a:hover {
  color: rgb(136, 130, 189);
  border-color: rgba(109, 150, 247, 0.4);
  border-radius: 10px;
}
#tip {
  height: 100%;
  text-align: center;
  width: 500px;
  backdrop-filter: blur(10px);
  border-color: rgb(252, 254, 251, 0.9);
  border-radius: 20px;
  background: rgb(252, 254, 251, 0.4);
  font-style: italic;
  text-align: center;
  margin: 10px;
  padding: 25px;
  text-align: center;
  direction: rtl;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
button {
  font-size: large;
  height: 45px;
  width: 200px;
  background-color: rgba(154, 203, 248, 0.4);
  border: rgb(252, 254, 251, 0.4);
  border-radius: 10px;
  cursor: grab;
}
button:hover {
  border-color: 3px solid rgb(78, 247, 72);
  background-color: rgb(208, 253, 141);
  font-size: 19px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#h3 {
  text-decoration: underline;
}

#Q {
  height: 300px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-color: rgb(252, 254, 251, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.gameM{
  display: none;
}
#A {
  height: 200px;
  width: 800px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-color: rgb(252, 254, 251, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
#A1,
#A2,
#A3,
#A4 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140px;
  width: 170px;
  font-size: 55px;
  background-color: rgb(223, 235, 245);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-color: rgba(45, 136, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
#A1:hover,
#A2:hover,
#A3:hover,
#A4:hover{
  background-color: rgb(246, 250, 186);
  box-shadow: 5px 5px 5px rgba(236, 250, 106, 0.3);
  color: rgb(63, 66, 70);
  cursor: help;

} 
#A:has(div:hover)>div:not(:hover){
  opacity: .3;
  background-color: rgb(236, 236, 221);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: help;
}